<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.common.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.common.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubjectController</servlet-name>
        <servlet-class>controller.auth.EditSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSubjectController</servlet-name>
        <servlet-class>controller.auth.ManageSubjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubjectController</servlet-name>
        <url-pattern>/editsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSubjectController</servlet-name>
        <url-pattern>/managesubject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <jsp-file>/cart.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
        
    </welcome-file-list>
</web-app>
